{{#if data.link}}
  {{#link-to data.link}}
      <div class='tile centered' style='background-color: {{data.bg}}; color: #fff;'>
          <i class='fa {{data.icon}}'></i>
        {{data.name}}
      </div>
  {{/link-to}}
{{else}}
    <div class='tile centered' style='background-color: {{data.bg}}; color: #fff;'>
        <i class='fa {{data.icon}}'></i>
      {{data.name}}
    </div>
{{/if}}