{{#if data.link}}
  {{#link-to data.link}}
      <span class="trigger-title">{{data.title}}</span>
      <span class="trigger-description">
        {{data.description}}
      </span>
  {{/link-to}}
{{else}}
    <span class="trigger-title">{{data.title}}</span>
    <span class="trigger-description">
      {{data.description}}
    </span>
{{/if}}