body{
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
a:hover{
  text-decoration: none;
}
header.main-header{
  padding: 20px 0 20px;
  background-color: rgb(0, 153, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-header .to-home{
  font-weight: bold;
  font-size: 2em;
  color: #fff;
}
.thisthat{
  color: rgb(0, 153, 255);
}
.actionable{
  cursor: pointer;
}

.hero{
  padding: 20px 0 20px;
}
.hero > h1{
  font-size: 5em;
}
@media only screen and (max-width: 991px) {
  .hero > h1{
    font-size: 8vw;
  }
}
.centered{
  text-align: center;
}

.services-wrapper{
  padding: 20px 0 20px;
}
.services-wrapper:after{
  content: "";
  display: block;
  clear: both;
}
.tile{
  font-size: 1em;
  padding: 15px;
  cursor: pointer;
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  min-height: 150px;
  vertical-align: top;
  border: 1px solid #DDDDDD;
  float: left;
}
.tile>i{
  font-size: 2em;
}

.triggers-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.triggers-list > li{
  vertical-align: top;
}
.trigger-selector, .action-selector{
  padding: 32px;
  margin: 10px;
  border-radius: 10px;
  background-color: #ec7505;
  min-height: 260px;
  width: 300px;
  cursor: pointer;
  display: inline-block;
}
.trigger, .action{
  color: #ffffff;
}
.trigger-title, .action-title{
  color: #ffffff;
  font-size: 1.125em;
  font-weight: bold;
  display: block;
}
.trigger-description, .action-description{
  margin-top: 1em;
  color: rgba(255,255,255,0.8);
  font-size: 1em;
  font-weight: bold;
  display: block;
}

.trigger-config, .action-config{
  padding: 32px;
  margin: 10px auto 10px;
  border-radius: 10px;
  background-color: #ec7505;
  max-width: 24em;
}

@media only screen and (max-width: 991px) {
  .tile{
    width: 50%;
  }
  .trigger-selector, .action-selector{
    width: 100%;
    margin: 0 auto 15px;
  }
}
