{{step-nav target='create.actions'}}
{{step-header title="Complete action fields" step=5}}
<div class="step-content">
    <div class="trigger trigger-config">
        <div class="trigger-title">Send me an email</div>
        <div class="trigger-description">This Action will send you an HTML based email. Images and links are supported.</div>
        <label>Email Address</label>
      {{input value=model.thatPayload placeholder='email@example.com' class="form-control"}}
      {{#if (valid-email model.thatPayload)}}
        {{#link-to 'create.summary' class='btn btn-block btn-primary'}}
            Create action
        {{/link-to}}
      {{else}}
          <button type="submit" class="btn btn-block btn-primary" disabled>Create action</button>
      {{/if}}
    </div>
</div>