{{step-nav target="create.aservices"}}
{{step-header title="Choose an action" step=4}}
<div class="step-content">
    <ul class="triggers-list">
      {{#each model.triggers as |trigger|}}
        {{action-box data=trigger state=model.thisthat}}
      {{/each}}
    </ul>
</div>