{{step-nav target='create.that'}}
{{step-header title="Choose action service" step=3}}
<div class="step-content">
  {{#each model.services as |service|}}
    {{service-tile data=service}}
  {{/each}}
</div>