{{step-nav target='create.actionconfig'}}
{{step-header title='Review and finish' step=6}}
<div class="step-content">
    <div class="action action-config">
        if {{model.ifThis}} {{model.thisPayload}} then {{model.thenThat}} {{model.thatPayload}}
    </div>
</div>