{{step-nav target='create.triggerconfig'}}
<h1 class="centered">if <span class="thisthat"><i class="fa fa-rss"></i></span> then {{#link-to 'create.aservices' class="thisthat"}}<i class="fa fa-plus"></i> that{{/link-to}}</h1>