{{step-nav target='create.triggers'}}
{{step-header title="Complete trigger fields" step=2}}
<div class="step-content">
    <div class="trigger trigger-config">
        <div class="trigger-title">New feed item</div>
        <div class="trigger-description">This Trigger fires every time a new item is added to the feed you specify.</div>
        <label>Feed URL</label>
        <div id="feed_url-alert" class="alert alert-danger" style="display: none;">Please enter a valid URL e.g. http://www.example.com, https://www.example.com</div>
      {{input value=model.thisPayload placeholder='http://www.example.com' class="form-control"}}
        <div class="trigger-description">
            <small>for feed URL requirements, visit the help page</small>
        </div>
      {{#if (valid-url model.thisPayload)}}
        {{#link-to 'create.that' class='btn btn-block btn-primary'}}
            Create trigger
        {{/link-to}}
      {{else}}
          <button type="submit" class="btn btn-block btn-primary" disabled>Create trigger</button>
      {{/if}}
    </div>
</div>