{{step-nav target='create.services'}}
{{step-header title="Choose trigger" step=2}}
<div class="step-content">
    <ul class="triggers-list">
      {{#each model.triggers as |trigger|}}
        {{trigger-box data=trigger state=model.thisthat}}
      {{/each}}
    </ul>
</div>