<!-- Header -->
<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="to-home">IFTTT MIMIC</a>
            </div>
        </div>
    </div>
</header>
<!-- Header END -->
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="hero">
              {{outlet}}
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->